<!DOCTYPE html>
<html lang="en">
<head>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        // Declare the socket variable globally
        const socket = io();
    </script>
    <script defer src = "../js/notification.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../partials/head.ejs') %> <!-- Include the head content -->
    <title>Your Ideal Student Stay</title>
    <!-- Add any specific CSS or scripts for this page -->
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet"> 
</head>
<body>
    <div id="user-data" data-username="<%= user ? user.username : '' %>"></div>
    <div class="content-limiter">
    <%- include('../partials/menu.ejs') %> <!--  Include the navigation menu -->
    <link rel="stylesheet" href="../css/styles.css">
        <div class="flex-container">
            <div class = "main-container">
                <header class="info-box"> <!-- Adjust the padding value as needed -->
                    <h1 class="ideal-student-stay">Your Ideal Student Stay</h1>
                    <h2 class="quick-easy-header">Quick and Easy</h2>
                    <div class="text-container">
                        <p>Find your next student home effortlessly. We scan hundreds of rental sites to notifty you about new listings, boosting your viewing chances. No more endless searches or missed opportunities</p>
                    </div>
                    <a href="#" class="btn btn-primary" style="background-color: #CCFF00; color: #000; font-weight: bold;" >Start Now</a>
                </header>
            </div>
                
            <div class="image-container">
                <img src="../img/Shot-iphone1.png" alt="Notis">
            </div>
        </div>  
    </div>

    <h2 id="how-it-works" class="centered-heading">How Does It Work?</h2>
        
    <div class="content-limiter">
        <div class="how-does-it-work-container">
            <div class="image-cont">
                <img src="../img/Shot.png" alt="Descriptive Text">
            </div>
            <div class="text-content-container">
                <!-- Header 1 with Text and Icon -->
                <div class="header-icon-text">
                    <img src="../img/Icon.png" alt="Icon 1" class="small-icon">
                    <div class ="text-container">
                        <h3>Find a roommate</h3>
                        <p>Speed up and cut the cost of your housing journey. Find and match yourself with roommates going to your university or city! Already have a roommate? Jump to Step 2.</p>
                    </div>
                    
                </div>
                <div class="header-icon-text">
                    <img src="../img/Icon.png" alt="Icon 1" class="small-icon">
                    <div class ="text-container">
                        <h3>Create your search profile</h3>
                        <p>Set up your search profile, and specify your housing preferences. You can change your preferences at any time. </p>
                    </div>
                </div>
                <div class="header-icon-text">
                    <img src="../img/Icon.png" alt="Icon 1" class="small-icon">
                    <div class ="text-container">
                        <h3>Receive listing notifications</h3>
                        <p>We scan the web across numerous rental websites for new listings, instantly notifying you on every apartment match. </p>
                    </div>
                </div>
                <div class="header-icon-text">
                    <img src="../img/Icon.png" alt="Icon 1" class="small-icon">
                    <div class ="text-container">
                        <h3>Be the first to respond</h3>
                        <p>Be the first one to respond and request a viewing, directly to each property.</p>
                    </div>    
                </div>
            </div>
        </div>
    
    </div>

    <div class="heading-button-container">
        <div class="search-container">
            <span class="search-prompt">Where do you want to live?</span>
            <div class="input-group">
                <div class="input-with-icon">
                    <img src="../img/search.png" alt="Search" class="search-icon">
                    <input type="text" placeholder="Search City" class="search-input">
                </div>
                <button class="search-button">Search</button>
            </div>
        </div>
    </div>

    <h2 class="centered-heading" style= "font-weight: bold;">Jumpstart Your Housing Hunt</h2>

    <section class="container-mt-5">
        <div class="row-text-center">
            <!-- Rental Alerts -->
            <div class="col-md-3">
                <div class="feature"> 
                    <img src="../img/Icon.png" alt="Rental Alerts Icon" class="circle-icon">
                    <h3 class="Housing-header">Rental Alerts</h3>
                    <p class="Housing-paragraph">Receive instant updates on new listings that fit your preferences, ensuring you never miss a housing opportunity again. Stay ahead of the game.</p>
                </div>
            </div>
            <!-- Roommate Match -->
            <div class="col-md-3">
                <div class="feature">
                    <img src="../img/Icon.png" alt="Roommate Match Icon" class="circle-icon">
                    <h3 class="Housing-header">Roommate Match</h3>
                    <p class="Housing-paragraph">Reduce your rental expenses and streamline your search. Find a compatible roommate on our platform and secure your ideal home together.</p>
                </div>
            </div>
            <!-- Automatic Reply -->
            <div class="col-md-3">
                <div class="feature">
                    <img src="../img/Icon.png" alt="Automatic Reply Icon" class="circle-icon">
                    <h3 class="Housing-header">Automatic Reply</h3>
                    <p class="Housing-paragraph">Secure viewings quickly with our automatic responder, putting your application at the forefront effortlessly.</p>
                </div>
            </div>
            <!-- 14 Days Free Trial -->
            <div class="col-md-3">
                <div class="feature">
                    <img src="../img/Icon.png" alt="14 Days Free Trial Icon" class="circle-icon">
                    <h3 class="Housing-header">14 Days Free Trial</h3>
                    <p class="Housing-paragraph">Test our platform with a 14-day free trial. Save hours of searching with no commitment.</p>
                </div>
            </div>
        </div>
    </section>

    <div class="text-center mt-4">
        <a href="#" class="btn btn-primary" style="background-color: #000000; color: #ffffff;">Start Now</a>
    </div>

    <section class="testimonial-pricing-section">
        <div class="content-limiter">
            <div class="made-by-students-section">
                <div class="stats-testimonial-container">
                    <div class="stats-container">
                        <h2 class="stats-header">Made by Students<br>For Students</h2>
                        <div class="stat-row top">
                            <div class="stat left-box">
                                <img src="../img/Icon.png" class="stat-icon">
                                <strong>135+ Users</strong>
                                <span>and counting!</span>
                            </div>
                            <div class="stat right-box">
                                <img src="../img/Icon.png" class="stat-icon">
                                <strong>27,870</strong>
                                <span>Properties notified this month</span>
                            </div>
                        </div>
                        <div class="stat-row bottom">
                            <div class="stat left-box">
                                <img src="../img/Icon.png" class="stat-icon">
                                <strong>55+ Roomates</strong>
                                <span>and students matched</span>
                            </div>
                            <div class="stat right-box">
                                <img src="../img/Icon.png" class="stat-icon">
                                <strong>Connect</strong>
                                <span>Match, and Start Searching Today!</span>
                            </div>
                        </div>
                    </div>
                
                    <div class="testimonial-container">
                        <div class="testimonial">
                            <div class="image-slider"></div>
                            <div class="testimonial-text">
                                <h3 class="testimonial-name">Name</h3>
                                <div class="testimonial-stars">Stars</div>
                                <p class="testimonial-paragraph">Testimonial</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <h2 id="pricing" class="centered-heading-pricing" style="font-weight: bold;">Pricing</h2>

    <div class = "pricing-container">
        <section class="pricing-section">
            <div class="pricing-options">
                <div class="pricing-option" id="option1">1 Month</div>
                <div class="pricing-option" id="option2">2 Months</div>
                <div class="pricing-option" id="option3">3 Months</div>
            </div>
            <div class="pricing-content">
                <div class="tab-content" id="tab1"> <!-- Content for 1 Month -->
                    <div class = "plan-container">
                        <div class="save-box">Save 0%</div>
                        <div class="price-container">
                            <span class="price">€19.50 </span><span class="per-month">/  per month</span>
                        </div>
                    </div>
                    <button class="start-button">Start your free trial</button>
                </div>
                <div class="tab-content" id="tab2" style="display: none;"> <!-- Content for 2 Months -->
                    <div class = "plan-container">
                        <div class="save-box2">Save 0%</div>
                        <div class="price-container">
                            <span class="price">€19.50 </span><span class="per-month">/  per month</span>
                        </div>
                    </div>
                    <button class="start-button">Start your free trial</button>
                </div>
                <div class="tab-content" id="tab3" style="display: none;"> <!-- Content for 3 Months -->
                    <div class = "plan-container">
                        <div class="save-box2">Save 0%</div>
                        <div class="price-container">
                            <span class="price">€19.50 </span><span class="per-month">/  per month</span>
                        </div>
                    </div>
                    <button class="start-button">Start your free trial</button>
                </div>
            </div>
        </section>
    </div>

    <h2 id="FAQ" class="centered-heading" style="font-weight: bold;">FAQ</h2>

    <div class="faq-container">
        <div class="faq-item">
            <button class="faq-question" onclick="toggleFaq('faq1')">How will UniStays help me find a new rental apartment?<span class="material-symbols-outlined icon">chevron_right</span></button>
            <div class="faq-answer" id="faq1">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
        </div>
        <div class="faq-item">
            <button class="faq-question" onclick="toggleFaq('faq2')">How will UniStays help me find a new rental apartment?<span class="material-symbols-outlined icon">chevron_right</span></button>
            <div class="faq-answer" id="faq2">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
        </div>
        <div class="faq-item">
            <button class="faq-question" onclick="toggleFaq('faq3')">How will UniStays help me find a new rental apartment?<span class="material-symbols-outlined icon">chevron_right</span></button>
            <div class="faq-answer" id="faq3">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
        </div>
        <div class="faq-item">
            <button class="faq-question" onclick="toggleFaq('faq4')">How will UniStays help me find a new rental apartment?<span class="material-symbols-outlined icon">chevron_right</span></button>
            <div class="faq-answer" id="faq4">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="footer-top">
            <div class="footer-left">
                <img src="../img/Logo.png" alt="UniStays Logo" class="footer-logo">
                <p class="footer-description">Find your next student home effortlessly. No more endless searches or missed opportunities.</p>
                <p>support@unistays.com</p>
            </div>
            <div class="footer-center">
                <h3 class="quick-links">Quick Links</h3>
                <ul class="footer-links">
                    <li><a href="#how-it-works">How it Works</a></li>
                    <li><a href="#pricing">Pricing</a></li>
                    <li><a href="#FAQ">FAQ</a></li>
                    <li><a href="#">Login - My Stays</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
            <div class="footer-right">
                <h3 class="follow-us">Follow Us</h3>
                <ul class="social-links">
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Instagram</a></li>
                </ul>
            </div>
        </div>

        <div class="footer-bottom">
            <hr class="footer-line" />
            <div class="footer-bottom-content">
                <div class="footer-bottom-left">
                    Copyright © 2024 UniStays
                </div>
                <div class="footer-bottom-right">
                    All rights reserved<span class="divider">|</span><a href="#">Terms and Conditions</a><span class="divider">|</span><a href="#">Privacy Policy</a>
                </div>
            </div>
        </div>
    </footer>

    <%- include('../partials/footer.ejs') %> <!-- Include the footer content -->
    <script>
        const userDataDiv = document.getElementById('user-data');
        const username = userDataDiv.getAttribute('data-username');
        if (username) {
            const socket = io();
            socket.on('connect', () => {
                socket.emit('joinUserRoom', { username });
                console.log(`joinUserRoom event emitted for ${username}`);
            });
        }

        function toggleFaq(faqId) {
            var answer = document.getElementById(faqId);
            var question = answer.previousElementSibling;
            var icon = question.querySelector('.icon');
            var isOpen = question.classList.contains('open');
            var faqItem = answer.closest('.faq-item');

            if (!isOpen) {
                question.classList.add('open');
                question.classList.add('open');
                faqItem.classList.add('open');
                answer.style.maxHeight = '10rem';
                icon.innerHTML = 'chevron_right';
            } else {
                question.classList.remove('open');
                answer.classList.remove('open');
                faqItem.classList.remove('open');
                requestAnimationFrame(() => {
                    answer.style.maxHeight = '0';
                });
                answer.style.padding = '0 20px';
                icon.innerHTML = 'chevron_right';
            }
        }

        function setupFaqListeners() {
            const allAnswers = document.querySelectorAll('.faq-answer');
            allAnswers.forEach(answer => {
                answer.addEventListener('transitionend', function(event) {
                    if (event.propertyName === 'max-height' && this.style.maxHeight !== '0px') {
                        this.style.maxHeight = 'none';  // Allows the container to fit exactly to its content after opening
                    }
                });
            });
        }
        
        document.addEventListener('DOMContentLoaded', function() {
            setupFaqListeners();

            var allAnswers = document.querySelectorAll('.faq-answer');
            allAnswers.forEach(function(answer) {
                answer.style.maxHeight = '0'; // Ensure all are closed initially
                answer.style.padding = '0 20px'; // Ensure padding is removed initially
            });
            
            const tabs = document.querySelectorAll('.pricing-option'); // Changed from '.tab' to '.pricing-option' to correctly select the tabs
            const tabContents = document.querySelectorAll('.tab-content');

            tabs.forEach(tab => {
                tab.addEventListener('click', function() {
                    // Adjust all tabs
                    tabs.forEach(t => {
                        t.classList.remove('selected');
                        const contentId = `tab${t.id.slice(-1)}`;
                        document.getElementById(contentId).style.display = 'none';
                        document.getElementById(contentId).classList.remove('active');
                    });

                    // Activate clicked tab
                    this.classList.add('selected');
                    const activeContentId = `tab${this.id.slice(-1)}`;
                    document.getElementById(activeContentId).style.display = 'block';
                    document.getElementById(activeContentId).classList.add('active');
                });
            });
            document.getElementById('option2').click();
            
            const sliderData = [
                { src: "../img/Shot-iphone1.png", name: "Helena", stars: "★★★★★", testimonial: "I found the perfect apartment within my budget in the area I was searching for. I was notified as soon as it was listed, getting me a viewing. I can't believe I found my apartment this fast. Thanks for the service!" },
                { src: "../img/Shot-iphone1.png", name: "John", stars: "★★★★", testimonial: "Very responsive and helpful. I got my dream place without hassle." },
                { src: "../img/Shot-iphone1.png", name: "Sarah", stars: "★★★★★", testimonial: "Amazing service, quick and reliable, found a roommate in no time!" },
                { src: "../img/Shot-iphone1.png", name: "John", stars: "★★★★", testimonial: "Very responsive and helpful. I got my dream place without hassle." },
                { src: "../img/Shot-iphone1.png", name: "Sarah", stars: "★★★★★", testimonial: "Amazing service, quick and reliable, found a roommate in no time!" },
                { src: "../img/Shot-iphone1.png", name: "John", stars: "★★★★", testimonial: "Very responsive and helpful. I got my dream place without hassle." }
            ];

            const sliderContainer = document.querySelector('.image-slider');
            const nameElement = document.querySelector('.testimonial-name');
            const starsElement = document.querySelector('.testimonial-stars');
            const textElement = document.querySelector('.testimonial-paragraph');


            let current = 1; // Start at 1 to make the first image appear centered initially

            const images = sliderData.map(data => {
                const img = document.createElement('img');
                img.className = 'slider-img';
                img.src = data.src;
                sliderContainer.appendChild(img);
                return img;
            });
            function updateStyles() {
                images.forEach((img, index) => {
                    let offset = index - current;
                    if (index < current - 1) {
                        offset += sliderData.length;
                    } else if (index > current + 1) {
                        offset -= sliderData.length;
                    }
                    img.style.transform = `translateX(${offset * 100}%)`; // Apply the movement

                    img.style.zIndex = index === current ? 10 : 5; // Ensure center image is always on top
                
                    // Adjust the size of left and right images
                    if (index !== current) {
                        img.style.transform += ' scale(0.9)'; // Adjust the width as needed
                    } else {
                        img.style.transform += ' scale(1)'; // Set the width back to 100% for the center image
                    }
                });

                
                nameElement.textContent = sliderData[current].name;
                starsElement.textContent = sliderData[current].stars;
                textElement.textContent = sliderData[current].testimonial;
            }

            function slideImages() {
                current = (current + 1) % sliderData.length;
                updateStyles();

                if (current === 0) {  // We're wrapping around to the start, after the first complete cycle
                    let leftImage = images.shift();  // Remove the first image and get it
                    images.push(leftImage);  // Append it to the end
                    sliderContainer.appendChild(leftImage);  // Also adjust the DOM accordingly
                }
            }

            // Set initial styles
            updateStyles();

            // Start the automatic sliding every 5 seconds
            setInterval(slideImages, 5000);
        });
    </script>        
</body>
</html>
