<nav class="navbar">
    <div class="navbar-brand">
        <a href="/">
            <img src="../img/Logo.png" alt="Unistays Logo">
        </a>
    </div>
    <!-- Mobile Menu Button -->
    <button class="menu-button" onclick="toggleMenu()">Menu</button>
    
    <!-- Desktop Navigation Items -->
    <div class="desktop-navbar-menu">
        <a href="#how-it-works" class="navbar-item">How it Works</a>
        <a href="#pricing" class="navbar-item">Pricing</a>
        <a href="#FAQ" class="navbar-item">FAQ</a>
        
        <div class="button-group">
            <button class="find-home-button">Find Your Stay</button>
            <a href="/login" class="navbar-item login-link">
                <img src="../img/login.png" alt="Login Icon" class="login-icon">Log In
            </a>
        </div>
    </div>
</nav>

<div id="menuOverlay" class="menu-overlay">
    <div class="menu-header">
        <img src="../img/logo.png" alt="Unistays Logo" class="overlay-logo">
        <button class="login-button">Log In</button>
        <button class="close-button" onclick="toggleMenu()">&times;</button>
    </div>
    <div class="menu-container">
        <!-- Mobile Navigation Items -->
        <a href="/" class="navbar-item">How it Works</a><hr>
        <a href="/second" class="navbar-item">Pricing</a><hr>
        <a href="/third" class="navbar-item">Contact</a><hr>
        <a href="/fourth" class="navbar-item">Log In</a><hr>
    </div>
</div>

<script>
function toggleMenu() {
    var menuOverlay = document.getElementById("menuOverlay");
    menuOverlay.classList.toggle("active");
}
</script>