* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Ensures padding and border are included in the element's total width and height */
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-style: normal;
}

.btn-primary:focus {
    outline: 2px solid #000000; /* Example: change to a solid yellow outline */
}

.btn-primary {
    border: none !important;
    box-shadow: none !important;
}

.desktop-navbar-menu {
    display: none;
}

.flex-container {
    display: flex;
    flex-direction: column; /* Stacks elements vertically */
    align-items: stretch; /* Aligns items at the start of the flex container */
    width: 100%;
}

.main-container, .image-container {
    width: 100%; /* Ensures elements take up the full width */
    box-sizing: border-box;
}

.text-container {
    width: 80%; /* Ensures elements take up the full width */
    padding: 0.3rem;
    box-sizing: border-box;
    font-size: clamp(0.5rem, 4vw, 1rem); /* Adjusts size dynamically */
}

.image-container {
    display: grid;
    place-items: center;
    margin-left: 0.5rem;
}

.image-container img {
    padding-top: 1rem;
    width: 100%; /* Makes the image responsive */
    height: auto; /* Maintain aspect ratio */

}

.btn-green-yellow {
    background-color: #CCFF00;
    color: #000;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
}

.quick-easy-header{
    font-size: clamp(1.5rem, 4vw, 2.5rem); /* Adjusts size dynamically */
    color: #4F3CC9; /* Set the color */
    font-weight: bold; /* Makes the font bold */
}

.ideal-student-stay {
    font-size: clamp(1.5rem, 4vw, 2.5rem); /* Adjusts size dynamically */
    font-weight: bold; /* Makes the font bold */
}

/* Base styles for the navbar */
.navbar {
    background-color: #f8f9fa;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand img {
    height: 3rem;
}

.menu-button {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

/* Fullscreen Menu Overlay */
.menu-overlay {
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 100; /* Ensure it's above other content */
    top: 0;
    left: 0;
    background-color: #000; /* Non-transparent background */
    overflow-y: hidden; /* Hide scrollbars */
    transition: height 0.3s ease;
}

.menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    width: 100%;
}

.overlay-logo {
    height: 3rem; /* Adjust the logo size as needed */
}

.login-button {
    margin-right: 3rem;
    color: #fff;
    background: none;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 1rem;
    font-size: 1.2rem; /* Increased font size */
    /* Add a margin-top if you want to move the button down in the flow of the document */
    
}

.close-button {
    font-size: 2rem;
    color: #fff;
    background: none;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    position: absolute; /* Positioning the close button absolutely */ /* Aligns top of the button with the header */
    right: 1rem; /* Keeps the button 1rem from the right edge */
}

.menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar-item {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 0.5rem 0;
}

.navbar-item + hr {
    border: 0;
    height: 1px;
    background-color: #333;
    width: 90%; /* Line separator width */
    margin: 0;
}

/* Adjustments for menu animation */
.menu-overlay.active {
    height: 100%; /* When active, show the full screen */
}

.centered-heading {
    text-align: center; /* Centers the text horizontally */
    width: 100%; /* Ensures the heading spans the full width of its container */
    margin-top: 3rem; /* Adds some space above the heading, adjust as needed */
    margin-bottom: 3rem;
    font-weight: bold;
    font-size: clamp(1.5rem, 3.5vw, 3rem); /* Adapts between 1.5rem and 3rem based on the viewport width */
    /* Add more styling here as needed */
}

.image-cont img {
    width: 100%; /* Makes the image span the full width of its container */
    height: auto; /* Maintains the image's aspect ratio */
    display: block;
    margin: 0;
    padding: 0;
}

.feature {
    position:relative;
    display: flex;
    flex-direction: column; /* Ensures vertical stacking inside each .col-md-3 */
    align-items: center;
    text-align: center; /* This ensures text content is centered horizontally */
}

.col-md-3 {
    flex: 1; /* Allows the box to grow and shrink */
    align-items: center;
    position:relative;
    flex-direction: column; /* Ensures vertical stacking inside each .col-md-3 */
    justify-content: center; /* Optionally adjust vertical spacing */
    align-items: center; /* Centers content horizontally */
    border-radius: 20px; /* Moderately rounded corners */
    background-color: #F7F5F7;
    margin-left: 0.2rem;
    padding-top: 2rem; /* Adjust this value so the content starts below the icon */
    margin-top: 2rem; /* Add top margin to account for the icon's overlap */
}

.Housing-paragraph {
    display: flex;
    align-items: center;
}

.circle-icon {
    position: absolute;
    top: -3.5rem; /* Moves the icon up halfway out of the container */
    width: 4rem; /* Icon size */
    height: 4rem; /* Icon size */
}

.search-container {
    display: flex; /* Aligns the input and button inline */
    flex-direction: column; /* Stacks the prompt, input, and button vertically */
    justify-content: center; /* Centers the flex items */
    align-items: center; /* Align items horizontally */
    padding: 0.5rem 2rem; /* 1rem top and bottom, 2rem left and right */
    border: 2px solid #4F3CC9; /* Purple border */
    width: 100%; /* Sets the width to fit the contents */
    margin: auto; /* Center the search container */
    background-color: #4F3CC9; /* Assuming a white background; adjust as needed */
    border-radius: 15px; /* Moderately rounded corners */
    margin-left: 0.4rem;
}

.search-prompt {
    color: #fff; /* Purple text to match the border */
    margin-bottom: 0.5rem; /* Space between the prompt and the search input */
    align-self: flex-start;
    text-align: left;
    font-size: clamp(1rem, 2vw, 1.5rem); /* Increased font size; adjust as needed */
    font-weight: bold;
}

.search-icon {
    margin-right: 0.5rem; /* Adjust as needed */
    height: 1.5rem; /* Or the size that fits your design */
    width: auto; /* To maintain the aspect ratio of the image */
}

.search-input {
    border: none; /* Ensures no border around the input */
    outline: none;
    border-radius: 20px; /* Moderately rounded corners */
    width: 100%;
}

.input-group {
    display: flex;
    flex-direction: row; /* Ensures items are in a single row */
    align-items: center;
    width: 100%; /* Adjust width as needed */
}

.search-button {
    padding: 0.86rem;
    border-radius: 20px; /* Moderately rounded corners */
    border: 2px solid #CCFF00; /* Purple border */
    background-color: #CCFF00; /* Assuming a white background; adjust as needed */
    width: 30%;
    color:#4F3CC9;
    font-size: clamp(0.8rem, 1vw, 2rem);
    font-weight: bold;
}

.input-with-icon {
    display: flex;
    align-items: center;
    border: 2px solid #fff; /* Purple border */
    background-color: #fff; /* Assuming a white background; adjust as needed */
    border-radius: 20px; /* Moderately rounded corners */
    padding: 0.75rem;
    margin-right: 1rem;
    width: 60%;
}

.search-container {
    box-sizing: border-box;
}

.info-box {
    padding-left: 2rem;
}

.navbar {
    /* Ensure the navbar stretches out fully and its content aligns with the main content */
    background-color: transparent;
    max-width: 1200px; /* Or the max-width of your main content for consistency */
    margin: 0 auto; /* Center the navbar within the viewport */
}

.header-icon-text {
    background-color: #F7F5F7;
    display: flex; /* Aligns children (icon and text-container) in a row */
    align-items: center; /* Centers the children vertically */
    border-radius: 20px; /* Moderately rounded corners */
    margin-bottom: clamp(0.5rem, 1.75vw, 3rem);
}

.header-icon-text h3 {
    font-size: clamp(1.2rem, 1.5vw, 1.5rem); /* Decrease the font size of the header */
    font-weight: bold;
}

.header-icon-text p {
    /* If you need a specific width for the text blocks, set it here */
    font-size: clamp(0.75rem, 1vw, 1rem); /* Decrease the font size of the text */
}

.Housing-header {
    font-size: clamp(1.2rem, 1.5vw, 1.5rem); /* Larger font sizes for bigger screens */
    font-weight: bold;
}

.Housing-paragraph {
    font-size: clamp(0.75rem, 1vw, 1rem);
}

.testimonial-pricing-section {
    color: #333;
    padding: 2rem;
    padding-right: 0rem;
    margin-top: 6rem;
  }
  
  /* Made by Students Section */
.made-by-students-section h2 {
    text-align: left;
    font-size: clamp(1.5rem, 3.5vw, 3rem); /* Adapts between 1.5rem and 3rem based on the viewport width */
    color: #000000;
    font-weight: bold;
}

.stats-testimonial-container {
    display: flex;
    justify-content: space-between;
}
  
.stats-container {
    display: flex;
    flex-wrap: wrap;  /* Allows wrapping of child elements */
    flex-direction: row; /* Arranges children horizontally */
    gap: 0.5vw; /* Manages spacing between children */
    align-items: flex-start;
    justify-content: space-between; /* Distributes space between and around content items */
    flex: 1;
}

.stat-row {
    display: flex;
    width: 100%; /* Ensures the row takes full width of the stats-container */
}


.stat {
    flex: 1 1 20%; /* Allows boxes to grow and shrink but with a reasonable base size */
    max-width: 25vw; /* Maximum width each box can reach */
    min-height: 6rem; /* Minimum height for each box */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centers content vertically */
    align-items: center; /* Centers content horizontally */
    text-align: center;
    background: #f8f9fa; /* Background color */
    padding: 1rem; /* Internal padding */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    border-radius: 20px; /* Rounded corners */
    border: 2px solid #4F3CC9; /* Adds a border with the specified color */
}

.stat-icon {
    display: block;
    margin: 0 auto; /* Centers the icon horizontally */
    height: 2.5rem; /* Set a fixed height */
    width: 2.5rem; /* Set a fixed width */
}

.stat-row .stat strong {
    font-size: clamp(0.8rem, 1.5vw, 1.5rem); /* Decrease the font size of the strong tag */
    margin-bottom: 0rem; /* Reduces the bottom margin */
}

.stat-row .stat span {
    font-size: clamp(0.3rem, 0.7vw, 0.7rem); /* Decrease the font size of the span tag */
}

.left-box {
    margin-left: 0rem;
}
  
.right-box {
    margin-left: 2.5vw;
}

.stat-row.bottom .stat:last-child {
    margin-right: 0;
  }

.stat strong {
    display: block;
    font-size: 1.5rem;
    color: #000000;
    margin-bottom: 0.5rem;
}

.testimonial-text-container {
    width: 100%; /* Take full width of its parent (the .testimonial div) */
    max-width: 30rem; /* Match the maximum width of the image */
    text-align: center; /* Center the text if needed */
}

.testimonial-container {
    flex: 1;
    display: flex;
    height: 100%; /* Ensures it stretches to match the stats container */
    justify-content: center; /* Centers the testimonial horizontally */
    align-items: center; /* Centers the testimonial vertically */
}

.testimonial {
    display: flex;
    flex-direction: column;  /* Aligns children (image and text) in a column */
    align-items: center;     /* Center aligns the children */
    gap: 0.5rem;               /* Spacing between the image and the text */
    max-width: 20rem;
    width: 30vw;
    margin-top: 2rem;
    margin-left: 5.5rem;
}

.testimonial-image {
    max-height: 17rem; /* Maximum height to maintain the square shape */
    width: 100%;           /* Fixed size for square shape */
    height: 27vw;          /* Fixed size for square shape */
    border-radius: 10%;     /* Makes the image rounded */
    object-fit: cover;      /* Ensures the image covers the area without distortion */
}

.testimonial-text h3 {
    color: #000000;
    font-size: clamp(0.75rem, 1.25vw, 1.5rem); /* Decrease the font size of the span tag */
    margin-bottom: 0;
    margin-left: 0.1rem;
}

.stars {
    margin-top: 0;
    color: #4F3CC9;
    font-size: clamp(1rem, 2vw, 1.7rem); /* Decrease the font size of the span tag */
    margin-left: 0.1rem;
}

.testimonial-text p {
    font-size: clamp(0.3rem, 1vw, 0.8rem); /* Decrease the font size of the span tag */
    margin-left: 0.1rem;
}

.image-slider {
    max-height: 17rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    height: 27vw; 
    width: 32vw;
}

.image-slider .slider-img {
    max-height: 17rem;
    max-width: 20rem;
    width: 32vw;
    position: absolute;
    transition: transform 0.5s ease-in-out;
    background-size: cover;
    background-position: center;
}

.left-image {
    transform: scale(0.8); /* Smaller scale */
    opacity: 0.8; /* Slightly more visible than other side images */
}

.center-image {
    transform: translateX(0);
    z-index: 10; /* Make sure the center image is on top */
    opacity: 1; /* Fully visible for center image */
    transform: scale(1); /* No scaling applied to the center image */
}

.right-image {
    transform: scale(0.8); /* Smaller scale */
    opacity: 0.8; /* Slightly more visible than other side images*/
}

.slider-image img {
    display: none; /* We use background images now */
}

.centered-heading-pricing {
    text-align: center; /* Centers the text horizontally */
    width: 100%; /* Ensures the heading spans the full width of its container */
    margin-top: 3rem; /* Adds some space above the heading, adjust as needed */
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: clamp(1.5rem, 3.5vw, 3rem); /* Adapts between 1.5rem and 3rem based on the viewport width */
    /* Add more styling here as needed */
}

.pricing-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.pricing-section {
    border: 2px solid #4F3CC9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    width: 65vw;
    min-width: 45rem;
    max-width: 70rem; /* Maximum width of 45rem */
    background-color: #fff; /* White background */
}

.pricing-options {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Added margin */
    gap: 8.5vw;
    margin-bottom: clamp(2rem, 6vw, 7rem);
}

.tab-content {
    display: none;
    margin-top: 20px;
}

.tab-content h3 {
    margin-bottom: 10px;
}

.tab-content.active {
    display: flex; /* Change to flex if the direct children should align in a row */
    flex-direction: column; /* This makes the plan-container and button stack vertically */
}

.pricing-option {
    padding: 5px 10px;
    border-radius: 10px;
    width: clamp(7rem, 10vw, 12rem);
    cursor: pointer;
    font-size: clamp(0.85rem, 1.5vw, 1.5rem);
}

.selected {
    background-color: #000;
    color: #fff;
}

.save-box {
    position: relative;
    background-color: #FF8484;
    color: rgb(0, 0, 0);
    padding: 5px 10px;
    border-radius: 10px;
    order: 2;
    left: clamp(2rem, 5vw, 7rem);
    font-size: clamp(0.85rem, 1.5vw, 1.5rem);
    width: clamp(7rem, 8.5vw, 11rem);
}

.save-box2 {
    position: relative;
    background-color: #74eb69;
    color: rgb(0, 0, 0);
    padding: 5px 10px;
    border-radius: 10px;
    order: 2;
    left: clamp(2rem, 5vw, 7rem);
    font-size: clamp(0.85rem, 1.5vw, 1.5rem);
    width: clamp(7rem, 8.5vw, 11rem);
}

.price-container {
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-grow: 1;
    flex-basis: 0; 
    order: 2; 
    gap:1rem;
}

.price-container .price {
    font-size: clamp(5rem, 6vw, 8rem); /* Large font size for the price */
    font-weight: bold;
}

.price-container .per-month {
    font-size: clamp(1rem, 1.5vw, 2rem);
    font-weight: bold;
    position: relative;
    top: -0.4rem;
}

.plan-container {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    position: relative; /* Establishes positioning context */
    align-items: center;
}

.start-button {
    margin-top: clamp(1rem, 1.5vw, 2.5rem);
    margin-bottom: 1rem;
    padding: 0.86rem;
    border: 0px; /* Purple border */
    width: 40%;
    font-weight: bold;
    font-size: clamp(1rem, 1.5vw, 2rem);
    border-radius: 10px;
    background-color: #4F3CC9;
    color: #fff;
}

.faq-container {
    width: 100%; /* Ensures the container takes full width if not already set */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers the FAQ items within the container */
}

.faq-item {
    width: 70%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    overflow: hidden;
    background-color: #fff;
    border-radius: 10px;
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.faq-item.open {
    border: 2px solid #4F3CC9;
}

.faq-item:focus-within, .faq-item.open {
    border-color: #4F3CC9;
}

.faq-question:focus {
    outline: none; 
}

.faq-container .faq-item .faq-question {
    outline: none !important; 
}

.faq-item .faq-question:focus, .faq-item.open {
    border-color: #4F3CC9;
}

.faq-item .faq-question:focus {
    outline: none;
}

.faq-question {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
    text-align: left;
    cursor: pointer;
    background: none; /* No background to allow FAQ item styling to show through */
    border: none; /* No border */
    border-bottom:none;
    margin-left: clamp(0.5rem, 0.75vw, 1rem);
    font-size: clamp(0.85rem, 1.5vw, 1.5rem);
    position: relative; /* Needed to apply z-index */
    z-index: 2; /* Ensures the question is above the answer */
}

.faq-answer {
    max-height: 0;
    overflow: hidden;
    background-color: #fff;
    transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out;
    padding: 0 20px; /* Padding transitions to 0 when closed */
    border-top: none;
    margin-left: clamp(0.5rem, 0.75vw, 1rem);
    width: 80%;
    position: relative; /* Ensure it respects z-index too */
    z-index: 1; /* Lower than the question */
    transition: max-height 0.75s ease-in-out;
}

.faq-answer p {
    margin: 10px 0;
    line-height: 1.4;
    font-size: clamp(0.75rem, 0.9vw, 1.1rem);
}

.faq-question .icon {
    float: right; /* Align the icon to the right */
    margin-right: 2rem;
    transition: transform 0.3s ease; /* Smooth transition for rotation */
    color: #4F3CC9;
    border-radius: 50%; /* Optional: Circular background */
}

.faq-question.open .icon {
    transform: rotate(90deg); /* Rotates the icon to point downward */
    background-color: #4F3CC9; /* Optional: Purple background */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: white; /* Optional: White icon color */
    border-radius: 50%; /* Optional: Circular background */
    padding: 5px; /* Optional: Padding for background circle */
}

.faq-container .faq-item .faq-answer {
    margin-top: 0; /* Ensures no extra space above the answer */
    padding-top: 0; /* Ensures content does not have extra top padding */
    transform: translateY(-1.5rem); /* Pulls the answer up closer to the question */
}

.footer {
    margin-top: 15rem;
    background-color: white;
    color: black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border-top: 2px solid #4F3CC9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.footer-top {
    display: flex;
    justify-content: space-between; /* Distributes space evenly */
    align-items: stretch; /* Aligns items vertically in the center */
    padding: 3rem 0;
    padding-left: 13rem;
}

.footer-left {
    margin-left: -5rem;
    color: #6F6C90;
}

.footer-center {
    margin-right: -9rem;
}

.footer-right {
    margin-right: -10rem;
    color: #6F6C90;
}

.footer-left, .footer-center, .footer-right {
    flex: 1;
    justify-content: space-between;
    padding: 0 20px; /* Add padding to each section */
}

.footer-logo {
    width: 150px;  /* Adjust the width as needed */
    height: auto;  /* Maintains the aspect ratio */
    display: block; /* Ensures the logo is block-level to manage layout */
    margin-bottom: 1rem;
    margin-top: -1.20rem;
}

.quick-links {
    font-weight: bold;
    color: #170F49;
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
}

.follow-us {
    font-weight: bold;
    color: #170F49;
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
}

.footer-description {
    width: 17rem; /* Constrain width of the text block */
}

.footer-links, .social-links {
    list-style: none;
    padding: 0;
}

.footer-links li, .social-links li {
    margin-bottom: 10px; /* Space between links */
}

.footer-links a, .social-links a {
    color: #4F3CC9;
    text-decoration: none;
}

.footer-links a {
    color: #6F6C90;
}

.footer-links a:hover, .social-links a:hover {
    text-decoration: underline;
}

.footer-bottom {
    position: relative;
    padding: 20px 100px; /* Adjusts the padding to create space on the sides */
    text-align: center;
}

.footer-line {
    border: 0;
    height: 1px;
    background-color: #ccc; /* Light grey line */
    margin: 0 auto; /* Remove default margin */
    margin-bottom: 1.5rem;
}

.footer-bottom-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    position: relative;
}

.footer-bottom-left, .footer-bottom-right {
    color: #6F6C90;
    font-size: 14px;
    position: absolute; /* Positioning it absolute to place it precisely */
    top: 0; /* Align top to ensure it aligns with the top of the container */
    white-space: nowrap; /* Prevents wrapping of text */
}

.footer-bottom-left {
    left: 0; /* Aligns to the left */
}

.footer-bottom-right {
    right: 0; /* Aligns to the right */
} 

.divider {
    margin: 0 10px; /* Space around the dividers */
    color: #ccc; /* Light grey divider to match the line */
}

.footer-bottom-right a {
    color: black; /* Ensures link colors are consistent */
    text-decoration: none;
}

.footer-bottom-right a:hover {
    text-decoration: underline;
}

.footer-bottom-right a {
    color: #4F3CC9;  /* Sets the link color */
    text-decoration: underline;  /* Ensures the underline is always present */
}

@media (min-width: 768px) {
    body {
        background-color: #fff; /* Base color */
        background-image: 
            radial-gradient(circle at 25% 47%, rgba(79, 60, 201, 0.25), transparent 40%),
            radial-gradient(circle at 85% 13%, rgba(204, 255, 0, 0.12), transparent 30%),
            radial-gradient(circle at 50% 81.5%, rgba(204, 255, 0, 0.12), transparent 35%);
        background-repeat: no-repeat;
    }

    .content-limiter {
        padding-right: 8%;
        position: relative;
    }

    .centered-heading {
        padding-top: 2rem;
    }

    .flex-container {
        padding-top: 5rem;
        display: flex;
        flex-direction: row;
    }

    .desktop-navbar-menu {
        display: flex; /* Show desktop navigation */
        justify-content: center; /* Center items */
        align-items: center;
        gap: clamp(0.7rem, 2vw, 1.5rem); /* Adjust the gap between items */
    }

    .desktop-navbar-menu .navbar-item, .desktop-navbar-menu .find-home-button {
        /* Adjust font size dynamically with clamp */
        margin: 0; /* Resets any default margin */
        padding: 0.5rem; /* Adjust padding as necessary, or reduce if space is tight */
        font-size: clamp(0.8rem, 1.5vw, 1.2rem); /* Example: Reduces base font size, adjust as needed */
    }

    .menu-button {
        display: none;
    }

    .main-container, .image-container {
        flex: 1;
    }

    .image-container img {
        width: 100%; /* Ensures the image is fully contained within its element */
        height: 22rem; /* Maintains aspect ratio */
        object-fit: contain;
        object-position: right center; /* Adjusts positioning to favor the right */
    }

    .info-box {
        margin-top: 1rem;
    }

    .quick-easy-header, .ideal-student-stay {
        font-size: clamp(1.5rem, 3vw, 3rem); /* Larger font sizes for bigger screens */
        font-weight: bold; /* Makes the font bold */
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navbar-brand img {
        /* Adjust the size if needed for desktop layout */
        height: 3rem; /* Example adjustment */
        margin-left: 2rem;
    }

    /* If the main content is centered within a specific max-width, apply the same rules here */
    .navbar, .menu-overlay {
        max-width: 100%; /* Adjust based on your main content's width */
        margin: auto; /* Center aligning */
    }

    .menu-header, .menu-container {
        padding-left: 0; /* Remove any default padding to align content */
        text-align: left; /* Aligns the text to the left, matching your main content alignment */
    }

    .navbar-menu, .menu-container {
        display: flex;
        justify-content: center; /* Aligns items in the center */
        gap: 20px; /* Equidistant gaps between items */
        list-style: none; /* Removes list styling if it's a list */
        padding: 0; /* Removes default padding */
        width: 100%; /* Ensures full width */
    }

    /* Show 'Find Your Stay' button on larger devices */
    .navbar-button {
        display: inline-block;
        background-color: #000;
        color: #fff;
        padding: 10px 20px;
        border-radius: 5px;
        text-decoration: none;
    }

    .navbar-item, .login-button {
        display: inline-block; /* Aligns items inline with spacing */
        text-decoration: none; /* Removes underline from links */
        color: #333; /* Color for text */
        padding: 10px 20px; /* Spacing around text */
        margin: 0 10px; /* Margins between items */
    }

    .find-home-button { /* Add this class to your "Find your new home" button */
        background-color: #000; /* Background color */
        color: #fff; /* Text color */
        border: none; /* Removes border */
        padding: 10px 20px; /* Padding inside the button */
        border-radius: 5px; /* Rounded corners */
        text-decoration: none; /* Removes underline */
        font-weight: bold; /* Makes the text bold */
    }

    .login-icon {
        width: 1.5rem; /* or your preferred size */
        height: 1.5rem; /* maintain aspect ratio */
        vertical-align: middle; /* Aligns the icon with the text */
        margin-right: 0.1rem; /* Space between the icon and text */
    }

    .row-text-center {
        display: flex;
        flex-direction: row; /* Stacks elements vertically */
    }

    .how-does-it-work-container {
        padding-bottom: 7rem;
        display: grid;
        grid-template-columns: 55% 45%; /* Two equal-width columns */
        align-items: start; /* Align the items to the start of the container */
        width: 100%;
        gap: 0; /* Adjust this if you want some gap between the image and the text */
    }

    .image-cont {
        overflow: hidden; /* Ensures nothing overflows this container */
    }

    .image-cont img {
        width: 100%; /* Ensures the image is fully responsive and covers the container's width */
        height: auto; /* Maintains the aspect ratio of the image */
        object-fit: cover; /* This property makes sure that the image covers the container */
    }
    
    .text-content-container {
        overflow: auto; /* Enable scrolling within the text container if content exceeds this height */
    }    

    .text-container {
        display: flex;
        flex-direction: column;
    }
    
    .small-icon {
        align-self: center;
        margin-left: 0.75rem; /* Space between icon and header */
        margin-right: 0.25rem;
        width: clamp(2rem, 5vw, 5rem); /* Small icon size */
        height: clamp(2rem, 5vw, 5rem); /* Small icon size, assuming square icons */
    }

    .header-icon-text {
        background-color: #F7F5F7;
        display: flex; /* Aligns children (icon and text-container) in a row */
        align-items: center; /* Centers the children vertically */
        border-radius: 20px; /* Moderately rounded corners */
        margin-bottom: clamp(0.5rem, 1.75vw, 3rem);
        height: clamp(4rem, 8.75vw, 10rem);
    }
    
    .header-icon-text h3 {
        margin-bottom: -0.05rem;
        margin-top: 0.65rem;
        font-size: clamp(0.5rem, 1.5vw, 1.5rem); /* Decrease the font size of the header */
        font-weight: bold;
    }
    
    .header-icon-text p {
        /* If you need a specific width for the text blocks, set it here */
        font-size: clamp(0.25rem, 1vw, 1rem); /* Decrease the font size of the text */
    }

    .header-with-icon {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
    }

    .col-md-3 {
        flex: 1; /* Allows the box to grow and shrink */
        align-items: center;
        position:relative;
        flex-direction: column; /* Ensures vertical stacking inside each .col-md-3 */
        justify-content: center; /* Optionally adjust vertical spacing */
        align-items: center; /* Centers content horizontally */
        border-radius: 20px; /* Moderately rounded corners */
        background-color: #F7F5F7;
        margin-left: 1rem;
        padding-top: 2rem; /* Adjust this value so the content starts below the icon */
        margin-top: 2rem; /* Add top margin to account for the icon's overlap */
    }

    .col-md-3:last-child {
        margin-right: 3rem;
    }

    .col-md-3:first-child {
        margin-left: 3rem;
    }

    .feature {
        position:relative;
        display: flex;
        flex-direction: column; /* Ensures vertical stacking inside each .col-md-3 */
        align-items: center;
        text-align: center; /* This ensures text content is centered horizontally */
    }

    .circle-icon {
        position: absolute;
        width: clamp(3rem, 5vw, 4rem); /* Small icon size */
        height: clamp(3rem, 5vw, 4rem);
    }

    .Housing-header {
        font-size: clamp(0.85rem, 1.5vw, 1.5rem); /* Larger font sizes for bigger screens */
        font-weight: bold;
    }

    .Housing-paragraph {
        display: flex;
        align-items: center;
        font-size: clamp(0.25rem, 1vw, 1rem); /* Larger font sizes for bigger screens */
    }

    .heading-button-container {
        text-align: center; /* Centers the content */
        padding: 1rem; /* Adds space around the container */
    }
    
    .search-container {
        display: flex; /* Aligns the input and button inline */
        flex-direction: column; /* Stacks the prompt, input, and button vertically */
        justify-content: center; /* Centers the flex items */
        align-items: center; /* Align items horizontally */
        padding: 0.5rem 2rem; /* 1rem top and bottom, 2rem left and right */
        border: 2px solid #4F3CC9; /* Purple border */
        width: 64.375%; /* Sets the width to fit the contents */
        margin: auto; /* Center the search container */
        background-color: #4F3CC9; /* Assuming a white background; adjust as needed */
        border-radius: 15px; /* Moderately rounded corners */
    }
    
    .search-prompt {
        color: #fff; /* Purple text to match the border */
        margin-bottom: 0.5rem; /* Space between the prompt and the search input */
        align-self: flex-start;
        text-align: left;
        font-size: clamp(0.8rem, 1.5vw, 1.5rem); /* Increased font size; adjust as needed */
        margin-left: 1.5rem;
        font-weight: bold;
    }
    
    .search-icon {
        margin-right: 0.5rem; /* Adjust as needed */
        height: 1.5rem; /* Or the size that fits your design */
        width: auto; /* To maintain the aspect ratio of the image */
    }
    
    .search-input {
        flex-grow: 1;
        border: none; /* Ensures no border around the input */
        outline: none;
        border-radius: 20px; /* Moderately rounded corners */
    }
    
    .input-group {
        display: flex;
        flex-direction: row; /* Ensures items are in a single row */
        align-items: center;
        width: 100%; /* Adjust width as needed */
        margin: 0 0 1rem 0;
    }
    
    .search-button {
        padding: 0.86rem;
        border-radius: 20px; /* Moderately rounded corners */
        border: 2px solid #CCFF00; /* Purple border */
        background-color: #CCFF00; /* Assuming a white background; adjust as needed */
        width: 22%;
        color:#4F3CC9;
        font-size: clamp(0.8rem, 1vw, 2rem);
        font-weight: bold;
    }
    
    .input-with-icon {
        display: flex;
        align-items: center;
        border: 2px solid #fff; /* Purple border */
        background-color: #fff; /* Assuming a white background; adjust as needed */
        border-radius: 20px; /* Moderately rounded corners */
        padding: 0.75rem;
        margin-left: 1rem; /* Adds space to the right, separating from the button */
        margin-right: 1rem;
        width: 70%;
    }
}

/* Larger screens */
@media (min-width: 1024px) {
    .info-box {
        margin-top: 2rem;
    }

    .navbar-brand {
        margin-left: 2.5rem; /* Adjust as needed for very large screens */
    }

    .main-container {
        margin-left: 2.5rem; /* Adjust as needed for very large screens */
    }

    .testimonial-pricing-section {
        margin-left: 2.5rem;
    }

    .header-icon-text {
        background-color: #F7F5F7;
        display: flex; /* Aligns children (icon and text-container) in a row */
        align-items: center; /* Centers the children vertically */
    }
}

/* Very large screens */
@media (min-width: 1440px) {
    .navbar-brand {
        margin-left: 5rem; /* Adjust as needed for very large screens */
    }

    .main-container {
        margin-left: 5rem; /* Adjust as needed for very large screens */
    }

    .testimonial-pricing-section {
        margin-left: 5rem;
    }

    .col-md-3:last-child {
        margin-right: 10rem;
    }

    .col-md-3:first-child {
        margin-left: 10rem;
    }

    .header-icon-text {
        background-color: #F7F5F7;
        display: flex; /* Aligns children (icon and text-container) in a row */
        align-items: center; /* Centers the children vertically */
    }
}

@media (min-width: 2560px) {
    .header-icon-text {
        background-color: #F7F5F7;
        display: flex; /* Aligns children (icon and text-container) in a row */
        align-items: center; /* Centers the children vertically */
    }
}

@media (max-width: 767px) {
    .text-content-container {
        display: flex;
        flex-direction: column;
        width: 100%; /* Takes the full width of the parent */
        margin-left: 0.7rem;
    }
    
    .header-icon-text {
        background-color: #F7F5F7;
        display: flex; /* Aligns children (icon and text-container) in a row */
        align-items: center; /* Centers the children vertically */
        border-radius: 20px; /* Moderately rounded corners */
    }

    .header-icon-text h3 {
        font-size: clamp(1rem, 2vw, 1.5rem); /* Decrease the font size of the header */
        font-weight: bold;
    }
    
    .header-icon-text p {
        /* If you need a specific width for the text blocks, set it here */
        font-size: clamp(0.6rem, 2vw, 1rem); /* Decrease the font size of the header */
    }
}